{
    "presets": [
        [
            "@babel/preset-env"
        ]
    ],
    "plugins": [
        [
            "wildcard",
            {
                "useCamelCase": true
            }
        ],
        "@babel/plugin-transform-object-assign"
    ]
}