{{define "footer"}}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="row py-4">
                    <div class="col-8">
                        <small>&copy; Copyright Jon P Penny {{.CurrentYear}}.</small>
                    </div>
                    <div class="col-4 text-right">
                        <div class="d-inline-flex align-items-center">
                            <a href="https://uk.linkedin.com/in/jonppenny" target="_blank" class="ml-3">
                                <img width="32" height="32" src="../../assets/img/linkedin.svg" alt="LinkedIn Icon"/>
                            </a>
                            <a href="https://github.com/jonppenny" target="_blank" class="ml-3">
                                <img width="32" height="32" src="../../assets/img/github.svg" alt="Github Icon"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{{end}}
