{{template "base" .}}
{{define "title"}}{{.Post.Title}}{{end}}
{{define "main"}}
{{with .Post}}
<div class='container'>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="mb-3 pb-3 metadata">
                <h1>{{.Title}}</h1>
                <span>Posted on: {{humanDate .Created}}</span>
            </div>
            <div>
                {{.Content}}
            </div>
        </div>
    </div>
</div>
{{end}}
{{end}}
