{{template "base" .}}
{{define "main"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Posts</h1>
            {{if .Posts}}
            <table class="table">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th></th>
                </tr>
                {{range .Posts}}
                <tr>
                    <th scope="row">#{{.ID}}</th>
                    <td><a href='/admin/post/{{.ID}}'>{{.Title}}</a></td>
                    <td>{{humanDate .Created}}</td>
                    <td>{{humanDate .Updated}}</td>
                    <td><a class="btn btn-link" href='/admin/post/{{.ID}}'>Edit</a></td>
                </tr>
                {{end}}
            </table>
            {{with .Pagination}}
            <div class="d-flex align-items-center justify-content-start w-100">
                {{ $CurrentPage := .CurrentPage }}
                {{ $TotalPages := .TotalPages }}

                {{ $prevPage := .PrevPage }}
                {{ $nextPages := .NextPage }}

                {{ if (gt $CurrentPage 1) }}
                <a class="btn btn-primary mr-2" href="?page={{ $prevPage }}">Prev</a>
                {{else}}
                <span></span>
                {{end}}
                {{ if (lt $CurrentPage $TotalPages) }}
                <a class="btn btn-primary mr-2" href="?page={{ $nextPages }}">Next</a>
                {{else}}
                <span></span>
                {{end}}
            </div>
            {{end}}
            {{else}}
            <p>There's nothing to see here... yet!</p>
            {{end}}
        </div>
    </div>
</div>
{{end}}