{{template "base" .}}
{{define "main"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Posts</h1>
            {{if .Posts}}
            <table class="table">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th></th>
                </tr>
                {{range .Posts}}
                <tr>
                    <th scope="row">#{{.ID}}</th>
                    <td><a href='/admin/post/{{.ID}}'>{{.Title}}</a></td>
                    <td>{{humanDate .Created}}</td>
                    <td>{{humanDate .Updated}}</td>
                    <td><a class="btn btn-link" href='/admin/post/{{.ID}}'>Edit</a></td>
                </tr>
                {{end}}
            </table>
            {{else}}
            <p>There's nothing to see here... yet!</p>
            {{end}}
        </div>
    </div>
</div>
{{end}}