{{template "base" .}}
{{define "main"}}
{{with .Post}}
<div class='container'>
    <div class="row">
        <div class="col-12">
            <div class='metadata'>
                <h1>{{.Title}}</h1>
                <span>Posted on: {{humanDate .Created}}</span>
            </div>
            <div>
                {{.Content}}
            </div>
        </div>
    </div>
</div>
{{end}}
{{end}}