body {
  color: #1a1a1a;
  font-family: "EB Garamond", serif;
  font-size: 1.25rem;
  font-weight: 400;
  background: #fdfdfd;
}

a {
  color: #1a1a1a;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
}

a:hover {
  color: #1a1a1a;
  text-decoration: none;
}

a:after {
  width: 0;
  height: 2px;
  content: "";
  background: #1a1a1a;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a:hover:after {
  width: 100%;
}

.header .col-12 {
  border-bottom: 1px solid rgba(25, 25, 25, .5);
}

.navbar {
  padding: 1rem;
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin: 0 1rem;
  padding: 0;
  color: #1a1a1a;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #1a1a1a;
}

.navbar-dark .navbar-brand,
.navbar-light .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-light .navbar-brand:hover {
  color: #1a1a1a;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, .6);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.pagination a {
  text-decoration: none;
}

.post {
  border-bottom: 1px solid #dadada;
}

blockquote {
  margin: 1rem 0 1.5rem 0;
  padding: 2rem;
  border-left: 3px solid #1a1a1a;
  background: #ebebeb;
  color: #1a1a1a;
}

blockquote p {
  margin: 0;
}

pre {
  margin-bottom: 1.5rem !important;
  padding: 2rem;
  background: #fff;
  border: 1px solid #ececec;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

.footer .social a:after {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #fdfdfd;
  }

  a, a:hover {
    color: #fdfdfd;
  }

  a:after {
    background: #fdfdfd;
  }

  .navbar-expand-lg .navbar-nav .nav-link,
  .navbar-expand-lg .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-brand,
  .navbar-light .navbar-brand,
  .navbar-dark .navbar-brand:hover,
  .navbar-light .navbar-brand:hover,
  .footer .social i {
    color: #fdfdfd;
  }

  blockquote {
    border-color: #fdfdfd;
  }
}
