{{template "base" .}}

{{define "title"}}Create a New Post{{end}}

{{define "main"}}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="mb-4">Change your password</h1>
            <form action='/admin/change-password' method='POST'>
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                {{with .Form}}
                <div class="form-group">
                    <label>Current Password</label>
                    {{with .Errors.Get "current"}}
                    <label for="current" class='error'>{{.}}</label>
                    {{end}}
                    <input id="current" class="form-control" type='password' name='current' value=''>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    {{with .Errors.Get "new"}}
                    <label for="new" class='error'>{{.}}</label>
                    {{end}}
                    <input id="new" class="form-control" type='password' name='new' value=''>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    {{with .Errors.Get "confirm"}}
                    <label for="confirm" class='error'>{{.}}</label>
                    {{end}}
                    <input id="confirm" class="form-control" type='password' name='confirm' value=''>
                </div>
                <div class="form-group">
                    <input type='submit' value='Set password' class="btn btn-primary">
                </div>
                {{end}}
            </form>
        </div>
    </div>
</div>
{{end}}

<style>
    .ck-editor__editable_inline {
        min-height: 128px;
    }
    label.error {
        color: darkred;
    }
</style>

<script type="text/javascript">
  ClassicEditor
    .create(document.querySelector('#content'))
    .catch(error => {
      console.error(error)
    })
</script>