body {
    color: #111;
    font-family: 'Roboto Slab', serif;
    background-color: #e9ecef;
}

a {
    color: #111;
}

a:hover {
    color: #111;
}

main a {
    text-decoration: underline;
}

header h1 {
    margin-bottom: 0;
}

.btn {
    text-decoration: none;
}

.btn-primary,
.btn-secondary {
    color: #e9ecef;
    background-color: #111;
    border-color: #111;
}
