{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}

<div class="container posts">
    <div class="row">
        {{if .Posts}}
        {{range .Posts}}
        <div class="col-12 col-md-8 offset-md-2">
            <div class="mb-5 pb-5 post">
                <h1>{{.Title}}</h1>
                <span class="d-block mb-2 date"><small>Posted on: {{humanDate .Created}}</small></span>
                <p>{{.Excerpt}}</p>
                <a href='/post/{{.ID}}'>Read More</a>
            </div>
        </div>
        {{end}}
        {{with .Pagination}}
        <div class="col-12 col-md-8 offset-md-2">
            <div id="pagination" class="d-flex align-items-center justify-content-between w-100 pagination">
                {{ $CurrentPage := .CurrentPage }}
                {{ $TotalPages := .TotalPages }}

                {{ $prevPage := .PrevPage }}
                {{ $nextPage := .NextPage }}

                {{ if (gt $CurrentPage 1) }}
                <a class="d-flex align-items-center" href="?page={{ $prevPage }}">
                    <i class="icon-arrow-left2"></i>
                    <!--&nbsp;<span>PREV</span>-->
                </a>
                {{else}}
                <span></span>
                {{end}}

                <!--{{ if (gt $CurrentPage 1) }}-->
                <span class="current-page">{{$CurrentPage}}</span>
                <!--{{ end }}-->

                {{ if (lt $CurrentPage $TotalPages) }}
                <a class="d-flex align-items-center" href="?page={{ $nextPage }}">
                    <!--<span class="d-block">NEXT</span>&nbsp;-->
                    <i class="icon-arrow-right2"></i>
                </a>
                {{else}}
                <span></span>
                {{end}}
            </div>
        </div>
        {{end}}
        {{else}}
        <div class="col-12 col-md-8 offset-md-2">
            <p>There's nothing to see here... yet!</p>
        </div>
        {{end}}
    </div>
</div>
{{end}}
