{{define "footer"}}
<footer>
    <div class="container">
        <hr>
        <div class="row py-4">
            <div class="col-8">
                <small>&copy; Copyright Jon P Penny {{.CurrentYear}}.</small>
            </div>
            <div class="col-4 text-right">
                <div class="d-inline-flex align-items-center">
                    <a href="https://uk.linkedin.com/in/jonppenny" target="_blank" class="mx-2">
                        <img width="32" height="32" src="../../static/img/linkedin.svg" alt="LinkedIn Icon"/>
                    </a>
                    <a href="https://github.com/jonppenny" target="_blank" class="mx-2">
                        <img width="32" height="32" src="../../static/img/github.svg" alt="Github Icon"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
{{end}}