{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
<div class="container pb-4">
    <div class="row">
        <div class="col-12">
            <h1>Welcome!</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{if .Posts}}
            {{range .Posts}}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2>{{.Title}}</h2>
                        <span>Posted on: {{humanDate .Created}}</span>
                        <hr>
                        <div>
                            <a class="btn btn-secondary" href='/post/{{.ID}}'>Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
            {{with .Pagination}}
                <div class="d-flex align-items-center justify-content-between w-100">
                {{ $CurrentPage := .CurrentPage }}
                {{ $TotalPages := .TotalPages }}

                {{ $prevPage := .PrevPage }}
                {{ $nextPages := .NextPage }}

                {{ if (gt $CurrentPage 1) }}
                    <a href="?page={{ $prevPage }}">Prev</a>
                {{else}}
                    <span></span>
                {{end}}
                {{ if (lt $CurrentPage $TotalPages) }}
                    <a href="?page={{ $nextPages }}">Next</a>
                {{else}}
                    <span></span>
                {{end}}
                </div>
            {{end}}
        {{else}}
            <div class="col-12">
                <p>There's nothing to see here... yet!</p>
            </div>
        {{end}}
    </div>
</div>
{{end}}
